@charset "utf-8"; 

/* * : 웹사이트의 전 영역을 의미합니다. (아스테리크) */

/* 기본적으로 적용될 css구성 */

/* 1.html 전 영역에 기본적으로 들어가 있는 여백 구성을 제거 */
  /* (1) margin : 바깥여백을 말한다. */
  /* (2) padding : 안쪽여백을 말한다. */

*{
    margin:0; /*바깥여백값을 제거*/
    padding:0; /*안쪽여백값을 제거*/
}


/* 2. a태그에 밑줄을 제거하자.
   (1) text-decoration : 문자의 꾸밈을 설정 */
   /* (2) color : 문자의 색상을 의미 */
   /* 글자의 색상 표현시 16진수 코드를 활용하거나
   rgba값을 활용하여 표현할 수 있는데
   이때 a(alpha)의 값을 활용하여 투명도를 적용 할 수 있다. 0~1, 중간값은 0.1~0.9) */
   
   a{
        text-decoration: none; /*a태그 적용시 발생되는 밑줄을 제거*/
        color: rgba(0,0,0,1); /*글자 색상을 검정색으로 표션*/
    }

   /* 3. list 메뉴 앞에 특수문자를 제거시키자.
       (1) list-style-type : 리스트 앞에 표현되는 특수문자를 제어(다른 부호로 변화, 제거)하는 구성 */
       

    ul, ol{
        list-style-type: none; /*리스트 앞에 특수부호 제거*/
    }   


    img, input{
        border: 0;  /* 이미지 태그와 인풋태그에 존재하는 소량의 선 값을 제거 */
        vertical-align: top;  /* 블록 영역(dive,p) 안에서 이미지 및 인풋 구성이 포함될 때 하단에 공백이 생기지 않도록 만들어 주는 trick과 같은 속성 */
        /* 블록영역안에 이미지가 배치될 경우 버그로 인하여 아래에 공백이 생성되게 되는데 이때 공백을 제거하기 위해 위의 코드를 작성 */
    }

    body{
        font-family: '맑은고딕', sans-serif;
        font-size: 14px;
    }

